@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Custom fonts */
/* @font-face {
    font-family: "WorldwideHeadline";
    src: url("../public/fonts/WorldwideHeadline.ttf");
  } */

/* @font-face {
    font-family: "WorldwideHeadline";
    src: url("../public/fonts/WorldwideHeadline.ttf");
  } */
